#content form input[type="submit"] {
   color: black;
   font-weight: bold;
 }

input[type="text"] {
   margin: 5px 0 0 12px;
   padding: 9px 7px 10px 10px;
   width: 239px;
   border-right: 1px solid black;
   border-style: solid;
   border-width: 1px;
}

A:link {text-decoration: none; color: white;}
A:visited {text-decoration: none; color: white;}
A:active {text-decoration: none;}
A:hover {text-decoration: underline;}