body {
   background: #cb0c81;
   margin: 0px;
}

a:link {text-decoration: none; color: white}
a:visited {text-decoration: none; color: white}
a:active {text-decoration: none}
a:hover {text-decoration: underline;} 


img {
    border: 0px;
}

#header {
   background: #8cd8f3;
   min-height: 100px;
   width: 100%;
   padding-top: 10px;
}
#header #head_content {
   margin-left: auto;
   margin-right: auto;
   height: 100px;
   width: 960px;
}
#separator_bm {
   background: url("../img/separator_bm.png") repeat-x bottom center transparent;
   height: 19px;
}
#separator h1 {
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   font-weight: bold;
   margin: 0 auto;
   padding-top: 130px;
   text-align: center;
   width: 440px;
}
#wrapper {
   background: transparent;
   margin: 15px auto 0 auto;
   width: 960px;
   min-height: 100px;
}
#content {    
   color: white;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    text-align: left;
    font-size: 12px;
}
#content h1 {
    color: #f5b122;
}
#content a:link {
    color: #a1d6f5;
}
 #content form {
   text-align: right;
 
 }
 #content form label {
   font-weight: bold;
 }
input[type="text"] {
   margin: 5px 0 0 12px;
   padding: 9px 7px 10px 10px;
   width: 239px;
   border-right: 1px solid #C2C4C4;
   border-style: solid;
   border-width: 1px;
}
#separator {
   background: url("../img/separator.png") repeat-x bottom center transparent;
   height: 30px;
   margin-top: 50px;
}
#footer {    
   background: #2d2d2d;
   color: white;
   font-family: verdana;
   font-size: 10px;
   height: 50px;
   padding: 10px 20px 0 20px;
}
.right {
   float:right;
}