body {
   /*background: #313131;*/
   background: #2d2d2d;
   margin: 0px;
}

A:link {text-decoration: none; color: white}
A:visited {text-decoration: none; color: white}
A:active {text-decoration: none}
A:hover {text-decoration: underline;}

img {
    border: 0px;
}

#header {
   background: url("../img/background.png") no-repeat scroll 50% 0 white;
   height: 283px;
   margin-left: auto;
   margin-right: auto;
}
#separator {
   background: url("../img/separator.png") repeat-x bottom center transparent;
   height: 100%;
}
#separator h1 {
   color: #000000;
   font-family: Arial;
   font-size: 20px;
   font-weight: bold;
   margin: 0 auto;
   padding-top: 130px;
   text-align: center;
   width: 440px;
}
#wrapper {
   background: url("../img/logo.png") no-repeat top left transparent;
   margin: 15px auto;
   width: 800px;
   min-height: 100px;
}
#content {    
   color: white;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    text-align: center;
}
 #content form {
   text-align: right;
 
 }
 #content form label {
   font-weight: bold;
 }
 #content form input[type="submit"] {
   background:url('../img/button.png')no-repeat;
   height:38px;
   width:100px;
   border:none;    
   margin-top: 5px;
   color: transparent;
 }
input[type="text"] {
   margin: 5px 0 0 12px;
   padding: 9px 7px 10px 10px;
   width: 239px;
   border-right: 1px solid #C2C4C4;
   border-style: solid;
   border-width: 1px;
}
#footer {    
   color: white;
   font-family: verdana;
   font-size: 10px;
   height: 50px;
   margin-top: 50px;
   padding: 0 20px;
   
}
.right {
   float:right;
}