div#admin {
    background-color:#4d4d4d;
    color: white;
    padding: 5px;
}

div#admin a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

div#admin a:visited{
    color: white;
}

div#admin #notices, #gotoweb {
    float: right;
    margin-right: 20px;
}

.left {
    float:left;
}

.right {
    float:right;
}

div.section {
    width: 300px;
    height: 120px;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 10px;
}

div.section img {
    float: left;
}

div.section .menu {
    float: left;
}

div.section a {
    color: #444;
    text-decoration: none;
}

div.section a:hover {
    color: #444;
    text-decoration: underline;
}

div.section ul {
    list-style: none;
    padding-left: 5px;
}

#admin ul.menu {
    display:inline;
    list-style: none;
    clear:both;
}

#admin ul.menu li {
    display:inline;
    list-style: none;
    margin-left: 2em;
    clear: both;
}