
::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

* {
	margin: 0;
}
body {
    background-color: #fff;
    margin: 0px;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
    line-height: auto;
}
html, body {
    height: 100%;
}

.dashboard {
    min-height: 100px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0 10px 10px 10px;
}

img {
    border: 0px;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

h1 {
    color: #900A6E;
    background-color: transparent;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}
input[type="text"],input[type="password"], select, textarea {
    border: thin solid grey; 
    border-radius: 3px;
    padding: 2px;
}
code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

#body{
    padding-top: 20px;
}

#wrapper {
/*    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 160px;
    background-size: auto 100%;
-moz-background-size: 100%;
-o-background-size: 100% auto; /* Opera needs x AND y values, or no background! * /
-webkit-background-size: auto 100%;
-khtml-background-size: 100%; */
   background-image: url("../images/index/mosaic.png");
    background-color: #a5d7f2;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto; /* -280px; */
}

#wrapper #header {
    background-image: url('../images/components/peak_header.png');
    background-repeat: repeat-x;
    height: 150px;
    background-color: #8b186e;
    padding-top: 10px;
}
#wrapper #header a {
    color: white;
    text-decoration: none;
}


#wrapper #header a:hover {
    text-decoration: underline;
}

#wrapper #header .content {
    height: 125px;
    width: 960px;
    margin: 0 auto;
}

#wrapper #header ul.menu {
    display:inline;
    list-style: none;
    text-align: center;
}

#wrapper #header ul.menu li {
    margin-left: 2em;
    display:inline;
}

#wrapper #header #menu {
    text-align:center; 
    background-color: #8B186E;
    width: 960px;
    margin: 0 auto;
}

#wrapper #header #menu #socialmedia_top {
    float: right;
}

#wrapper #header #menu #socialmedia_top a:hover {
    text-decoration: none;  
}

#wrapper #header #socialmedia_top ul.menu li {
    margin-left: 0.5em;
    display:inline;
}

#wrapper #header #profile {
    float: right;
    width: 620px;
}

#wrapper #header #profile #detail {
    float: right;
    min-width: 200px;
}

#wrapper #header #profile #detail span.profile_name {
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    background-image: url('../images/components/arrow.png');
    background-position: left 22px;
    background-repeat: no-repeat;
    margin-right: 10px;
    color: white;
    text-align: right;
    cursor: hand;
    cursor: pointer;
}

#wrapper #header #profile #detail ul {
    padding-left: 0px;
    list-style: none;
}

#wrapper #header #profile #detail ul a {
    color: #900A6E;
    text-decoration: none;
    font-weight: bold;
}

#wrapper #header #profile #detail li {
    padding-left: 10px;
    text-align: left;
}

#wrapper #header #profile #detail div {
    float: left;
    margin-top: 20px;
}

#wrapper #header #profile .info_profile {
    float:left; 
    width:75px; 
    height: 75px;
    margin: 0 5px;
}

#wrapper #header #profile .info_profile .icon {
    height: 45px;
    text-align: right;
}

#wrapper #header #profile .info_profile .icon img {
    float: right;
}

#wrapper #header #profile .info_profile .value {
    background-color:lightblue; 
    float: right; 
    padding: 2px; 
    color: #a5007c;
    margin-top: 5px;
    min-width: 30px;
    text-align: right;
}

#wrapper #header #main_logo {
    float: left;
}

#wrapper #body .content {
    min-height: 525px;
    width: 960px;
    margin: 0 auto;
}

#wrapper #body .content {
    min-height: 350px;
    padding-bottom: 20px;
}
#peaks {
    background-image: url("../images/components/separator.png");
    background-color: #a5d7f2;
    background-repeat: repeat-x;
    background-position: center bottom;
    /*margin-top: 30px;*/
}
#footer {
    background-color: #2D2D2D;
    height: 280px;
    line-height: 15px;
}
.push {
   /* height: 294px;*/
   height: 15px;
}
#footer .content {
    color: #FFF;
    width: 960px;
    margin: auto;
    padding-top: 30px;
}
#footer .content #sign-newsletter {
    width:35%;
    float: left;
    background-color: white;
    color:  #af1e8b;
}
#footer .content #sign-newsletter .header-news {
    background-color: #af1e8b;
    color: white;
}

#footer .content #sign-newsletter .footer-news {
    background-color: #af1e8b;
    color: white;
    padding: 10px;
}

#footer .content #sign-newsletter h3 {
    font-size: 13px;
    text-align: center;
    margin: 0px;
    padding: 10px;
}

#footer .content #sign-newsletter .field {
    text-align: right;
    padding: 10px;
    padding-right: 30px;
}

#footer .content #contact {
    float: right;
}
#footer .content #contact #socialmedia {
    float:right;
    width: 245px;

    background-image: url(../images/logos/logofooter.png);
    background-repeat: no-repeat;
    background-position: right top;
    height: 220px;
    margin-right: 10px;

}
#footer .content #contact #contact-company{
    border-left: thin solid #ebc7e2;
    padding-left: 10px;
    float: right;
    font-size: 12px;
    margin-right: 70px;
    padding-bottom: 40px;
    width: 230px;
}
#footer .content #contact #contact-company p {
    margin-top:0px;
}
#footer .content #contact #contact-company p span {
    color: #888;
}
#copyright {
    clear:both;
    width: 100%; 
    font-size: 12px;
}
 
/* pagination */
#pagination {
   clear: both;
   text-align:center;
}

.form-left {
    float: left;
}

.form-right {
    float: right;
}

div.box.long .row-boxes {
    min-height: 381px;
}

div.box.long .row-boxes div {
    background-color: white;
}

.box-list {
    width:224px;
    background:white;
    margin-right:8px;
    margin-bottom:10px;
    float:left;
    border:#eaf4fb solid 5px;
    border-radius: 2px;
}

.box-list .head {
    padding: 5px 5px;
}

.box-list .head .colours {
    float: right; 
    margin-top: 10px;
}

.box-list .head .colours .colour {
    border-radius:5px;
    width:10px; 
    height:7px;
    float: left; 
    margin-right:10px;
}

.box-list .photo {
    width:100%;
    height:160px;
    text-align:center;
}

.box-list .abstract {
    padding: 5px 5px;
    height: 60px; 
}

.box-list .plusinfo {
    float: right; 
    margin-top: 10px; 
    padding-right: 5px;
}

.box-list .actions {
    width: 100%;
}

.box-list .actions a {
    padding: 2px 5px;
    width: 102px;
    text-align: center;    
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.box-list .metadata {
    width: 100%; 
    height: 55px;
}

.box-list .metadata .left {
    float: left; 
    margin-top: 10px; 
    padding-left: 5px;
    max-width: 149px;
}

.box-list .metadata .left .valoration {
    font-size: 10px;
    line-height: 15px;
}

.box-list .metadata .left .valoration a {
    display: inline-block;
}
    
.box-list .metadata a {
    text-decoration: none;
    color: #900A6E;
}

.box-list .actions a:hover {
    text-decoration: underline;
}

.box-list .actions .edit {
    float: left;
    background-color: lightblue;
}

.box-list .actions .delete {
    float: right;
    background-color: lightpink;
}

box-list-tiny img {
    width:75%;
    
}

.blue_panel {
    background-color: #eaf4fb;
    border: solid thin #f1f7fc;
    border-radius: 5px;
    padding: 5px;
}

.blue_panel h1 {
    color: #900A6E;
    text-align: center;
}

.blue_panel h2 {
    color: #900A6E; 
}

#pagination {
    background-color: #eaf4fb;
    border: solid thin #f1f7fc;
    border-radius: 5px;
    padding: 5px;
    width: 500px;
    color: #900A6E;
    margin: 0 auto;
}

#pagination a {
    text-decoration: none;
    color: #900A6E;
}

#pagination strong {
    font-size: large;
}

.error {
    border: thin solid lightcoral;
    border-radius: 5px;
    margin: 5px auto;
    padding: 0 10px;
    width: 60%;
    background-color: lightpink;
    text-align: left;
}

.error p {
    margin: 2px 0px;
    text-align: left;
}