h1 {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    color: #a5007c;
    font-weight: normal;
}

input#abstract {
    width: 300px; 
}

textarea#description {
    width: 99%; 
    height: 168px;
}

#create_box {
    margin: 0 auto;
    width: 650px;
    _width: 700px;
    background: #E9F3F9;
    padding: 10px 30px;
}

#create_box label {
    color: #aad5f1;
    font-size: 12px;
    font-weight: bold;
}

#create_box .form-left {
    width: 465px;
}

#create_box .form-left #photos .photo {
    float:left;
    height: 110px;
    width: 110px;
    background-color: white;
    border-radius: 5px;
    margin-left: 5px;
}

#create_box .buttons {
    clear:both;
    text-align: center;
}

#create_box form input[type="submit"] {
    background: url('../images/components/createbox.png')no-repeat;
    height: 34px;
    width: 138px;
    border: none;
    margin-top: 15px;
    color: transparent;
    cursor: pointer;
}

.field {
    background-color: #FFF;
    margin:3px;
    padding: 2px;
}

.field .photo {
    width: 110px;
    height: 110px;
    float: left;
}

.field textarea, .field input {
    border: 0px;
}

.field input {
    height: 1.5em;    
}

.field.file {
    height: 25px;
    line-height: 25px;
}

.field input[type="file"] {
    float: right;
    height: 23px;
}

.field select {
    width: 100%;
    height: 1.5em;
    font-size: 1.2em;
}

.colour {
    padding-bottom: 3px;
}

.form-right {
    width: 185px;
}

.last-box-row {
    margin-right:0px;
}
#view_box {
    min-height: 400px;
    width: 100%;
    overflow: hidden;
}

#view_box h1,#view_box  h2 {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    color: #a5007c;
    font-weight: normal;
}

#view_box #box_data {
    padding:5px 0px;
    width:700px;
    float:left;
    height:400px;
    background-color: white;
    border: solid 2px #eaf4fb;
}

#view_box #comments {
     clear:both;
     background-color: #fff;
    border: solid 2px #eaf4fb;
    width:700px;
}

#view_box .comment {
     min-height:120px;
     clear:both;
     padding: 10px 0;
     border-bottom: solid 2px #eaf4fb;
     overflow: hidden;
}

#view_box .comment.form {
    border-bottom: none;
}

#view_box .comment .date {
    float: right;
    background-color: lightblue;
    border:solid thin #EAF4FB;
    border-bottom-left-radius: 5px;
    margin: -11px -1px 0 0;
    padding: 2px;
}

#view_box .commenter {
    float: left; 
    margin: 10px;
    text-align: center;
    margin: 10px;
    width:80px;
}

#view_box #box_data #photo_gallery {    
    float: left;
    margin-left: 25px;
}

#view_box #box_data #photo_gallery #big_photo {
    border: solid 2px #cbe6f7;
    border-radius: 5px;
    width: 270px;
    height: 270px;
}

#view_box #box_data #photo_gallery #tiny_photos .tiny_photo {
    border: solid 2px #cbe6f7;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 6px;
}

#view_box #box_data #photo_gallery #tiny_photos {
    margin-top: 4px;
}

#view_box #box_data #photo_gallery #tiny_photos .tiny_photo.last {
    margin-right: 0px;
}

#view_box #data_box {
    float: right;
    width: 350px;
    margin-right: 15px;
    height: 350px;
}

#view_box #data_box p {
    color: #747372;
    height: 180px;
}
#view_box #metadata {
    
}

#view_box #metadata #box {
    float: left;
}

#view_box #metadata #other {
    float: right;
    padding-top: 30px;
}

#view_box .right {
    width:250px;
    float:right;
    height: 400px;
}

#view_box #attributes {
    background-color: white;
    border: solid 2px #eaf4fb; 
    margin-bottom: 20px;
}

#view_box .attribute {
    border: solid 1px #eaf4fb;
    font-size: 20px;
    line-height: 40px;
    color: #aad5f1;
    padding: 0px 5px;
}

#view_box .attribute .value {
    float: right;
    margin-right: 10px;
    color: #a5007c;
}

#view_box .attribute .colour {
    width: 14px;
    height: 11px;
    border-radius: 15px;
    float: right;
    margin-right: 10px;
    margin-top: 12px;
}

#view_box #select_payment_type {
    margin-top: 10px;
}

#view_box #payment {
    background-color: #a00579;
    color: white;
    border: solid thick #8b186e;
    text-align: right;
    padding: 10px;
    height: 155px;
}

#view_box #payment h2 {
    color: white;
    font-size: 25px;
    margin: 10px 0px;
}

#view_box #select_payment_type form input[type="submit"] {
    background: url('../images/components/solicitarcaja.png')no-repeat;
    height: 34px;
    width: 138px;
    border: none;
    margin-top: 15px;
    color: transparent;
    cursor: pointer;
}

#search_panel.blue_panel {
    width: 560px;
    margin: 0 auto 10px auto;
    line-height: 25px;
}

#search_panel.blue_panel .right{
    float:right;
}

#search_panel.blue_panel #search {
    width: 390px;
}

#search_panel.blue_panel form input[type="submit"] {
    background: url('../images/components/buscar.png')no-repeat;
    height: 40px;
    width: 100px;
    border: none;
    margin-top: 5px;
    color: transparent;
    cursor: pointer;
}
