@CHARSET "UTF-8";


#results {
	margin: 10px auto;
}


#search_panel.blue_panel {
    width: 560px;
    margin: 0 auto 10px auto;
}

#search_panel.blue_panel #search {
    width: 390px;
}

#search_panel.blue_panel form input[type="submit"] {
    background: url('../images/components/buscar.png')no-repeat;
    height: 40px;
    width: 100px;
    border: none;
    margin-top: 5px;
    color: transparent;
    cursor: pointer;
}