#wrapper {
    
    background-image: url("../images/index/mosaic.png");
}

body {
    background-color: #a5007c;
}

#wrapper #header {
    margin-bottom: 0px;
}

#wrapper #body {
    background-position: center top;
    margin: 0;
    width: 100%;
    height: 450px;
}

#wrapper #body .content {
    height: auto;
}

#abstract {
    height:452px;
    margin-left: auto;
    margin-right: auto; 
    width: 960px;
}

#abstract h1 {
    font-size: 27px;
    line-height: 30px;
    border: none;
    padding-left: 0px;
    color: white;
    width: 80%;
}

#abstract .left {
    width: 480px;
    float: left;
    padding-top: 50px;
    background-image: url("../images/index/twisted_arrow.png");
    background-position: right 230px;
    background-repeat: no-repeat;
}

#abstract .left p {
    font-size: 18px;
    width: 80%;
    color: #900A6E;
}

#abstract .left img {
    margin-top: 13px;
}

#abstract .right {
    width: 440px;
    float: right;
    height: 430px;
    background-image: url("../images/index/monitor.png");
    background-repeat: no-repeat;
    background-position: center center;
}

#faq {
    height: 270px;
    color: #ffffff;
    width: 960px;
    margin: 0px auto;
}

#faq h2 {
    color: #f4af2b;
    text-align: center;
}

#faq .left {
    width: 40%;
    float: left;
    padding-top: 10px;
}

#faq .left ul {
    list-style-type: "|";
}

#faq .left li {
    line-height: 30px;
}

#faq .right {
    width: 40%;
    float: right;
    padding-top: 10px;
}
#peaks_mosaic {
    background-image: url("../images/index/peak_mosaic.png");
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: center bottom;
    margin-top: -15px;
    margin-bottom: 30px;
}

#peaks{
    background-color: transparent;
}