.blue_panel {
    width: 350px;
    margin: 0 auto;
}

.blue_panel div {
    text-align: right;
    padding-right: 30px;
    margin-bottom: 10px;
}

.blue_panel.forgot {
    text-align: center;
    padding-bottom: 15px;
}

.blue_panel form input[type="submit"] {
    background: url('../images/components/send.png')no-repeat;
    height: 40px;
    width: 120px;
    border: none;
    margin-top: 5px;
    color: transparent;
    cursor: pointer;
    text-align:center;
}