
div#member_data #user_data h1 {
    color:  inherit;
    padding: 0px;
    border: 0px;
}

h2 {
}

div#member_data {
    background-color: #e9f3f9;
    width: 800px;
    overflow: hidden;
    padding: 20px;
    margin: 0 auto;
    color: #a5007c;
}

div#member_data #user_data {
    width:73%;
    line-height: 60px;
    padding-right: 10px;
}

div#member_data #user_data #valoration {
    float: left;
    margin-left: 10px;
}

div#member_data #user_data #balance {
    float: right;
    font-size: 19px;
}

div#member_data #user_data #balance label{
    color: #da67a0;
}

div#member_data #user_comments {
    width:25%;
}

div#member_data #user_comments ul {
    list-style: none;
}

div#member_data #user_comments .comment {
    margin-bottom: 10px;
}

div#member_data #user_comments .comment .metadata {
    color: #aad5f1;
    font-weight: bold;
}

div#member_data #box-panel {
    clear: left;
}

div#member_data #box-panel #box-list .box {
    background-color: #ffffff;
    border: 2px #d6ebf9 solid;
    width: 165px;
    height: 255px;
    margin-left: 18px;
    float: left;
    padding: 2px;
    line-height: 15px;
}

div#member_data #box-panel {
    line-height: 20px;
}

div#member_data #box-panel label {
    font-weight: bold;
}

div#member_data #photo {
    width: 150px;
    height: 150px;
    text-align: center;
}

div#member_data .field {
    text-align: right;
}

div#member_data h2 {
    margin-top: 20px;
}

div#member_data .sidebar {
    margin-right: 60px;
}

div#member_data input[type="file"] {
}

div#member_data #box_panel {
    overflow:hidden;
    width: 100%;
}
div.box.tiny .abstract {
    line-height:15px;
    height: 65px;
    font-size:11px; 
    color: #747372;
    padding: 5px 1px;
}

div.box.tiny .bottom {
    line-height: 25px;
}

.sidebar {
    float: left;
    margin-right: 20px;
}

textarea#bio {
    width:430px;
    height:170px;
}