.field label {
    margin-right: 10px;
    min-width: 205px;
    text-align: right;
}

.blue_panel {
    width: 380px;
    margin: 0px auto;
    text-align: center;
}

.blue_panel .field {
    text-align: right;
}

.blue_panel form input[type="submit"] {
    background: url('../images/components/send.png')no-repeat;
    height: 40px;
    width: 120px;
    border: none;
    margin-top: 5px;
    color: transparent;
    cursor: pointer;
    text-align:center;
}