
#members {
    margin: 0pt auto;
    width: 92%; 
}

.member {
   float: left;  
   margin: 10px 0.5%;
    width: 261px;
   border: solid #d1d1d1 thin;
   background-color: white;
}

.member a {
    text-decoration: none;
    color: #900A6E;
}

.member .data {
	float: right;
	width: 70%;
}

.member .data span {
   float: left;
   clear: left;
}

.admin {
    background-color: #FFE4C4;
}

.long {
    width: 90%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.long .photo {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

.long .data {
    float: left;
    width: auto;
    margin-right: 20px;
    min-width: 170px;
}
.dataend {
    float:right;
    width: auto;
    min-width: 170px;
}
   
.field {
    line-height: 30px;
}
.field label {
    font-weight: bold;
    float:left;
    text-align: right;
    margin-right: 10px;
}
.sidebar {
    height: 100%;
}
.little-message {
    text-align: right; 
    font-size: x-small;
    margin-top: -15px;
        
}

#members .row-users {
    min-height: 80px;
    overflow: hidden;
}

.member_follow input[type="submit"] {
    background: url("../images/components/seguir.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: transparent;
    cursor: pointer;
    height: 22px;
    width: 92px;
    margin: 2px;
}

.member_follow input[type="submit"].following {
    background: url("../images/components/siguiendo.png") no-repeat scroll 0 0 transparent;
}

.member_follow input[type="submit"].following:hover {
    background: url("../images/components/noseguir.png") no-repeat scroll 0 0 transparent;
}
.member .member_follow {
    clear:both;
}
.member .selling {
    clear:both;
    padding: 3px;
}

.member .selling img {
    margin-left: 2px;
}

.member .photo_user {
    margin: 2px;
}
